- params = request.params.except(:action, :controller, :utf8, :page, :per_page, :format, :authenticity_token)

= form_tag export_path(params.merge(:all => true)), :method => 'post', :class => 'form-horizontal denser' do

  .form-actions
    Confirm Exporting of Selected Items: 
    %button.btn.btn-primary{:type => "submit", :name => 'csv'}
      %i.icon-white.icon-ok
      = t("admin.export.confirmation", :name => 'csv')
    %button.btn{:type => "submit", :name => "_continue"}
      %i.icon-remove
      = t("admin.form.cancel")
